[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
sdc-cryptography = "==0.2.3"
requests = "*"
gevent = "*"
google-cloud-monitoring = "*"

[requires]
python_version = "3.7"